NameValidator.ValidateBlobName does not validate properly

### Which service(blob, file, queue, table) does this issue concern?
Blob

### Which version of the SDK was used?
11.1.3

### Which platform are you using? (ex: .NET Core 2.1)
.Net Core 3.0

### What problem was encountered?
NameValidator.ValidateBlobName accepts invalid blob names as valid 

e.g.: 
NameValidator.ValidateBlobName("..");
NameValidator.ValidateBlobName("."); 
NameValidator.ValidateBlobName("./"); 

The function validates for the length and #segment requirements - but does not validate the URL character requirements nor the note saying: "Avoid blob names that end with a dot (.), a forward slash (/), or a sequence or combination of the two." (https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata#blob-names)

URL requirements: https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata#resource-names 
"Blob and container names are passed to the Blob service within a URL. Certain characters must be percent-encoded to appear in a URL, using UTF-8 (preferred) or MBCS. This encoding occurs automatically when you use the Azure Storage client libraries. However, there are certain characters that are not valid in URL paths even when encoded. These characters cannot appear in blob or container names. Code points like \uE000, while valid in NTFS filenames, are not valid Unicode characters, so they cannot be used. In addition, some ASCII or Unicode characters, like control characters (0x00 to 0x1F, \u0081, etc.), are also not allowed. For rules governing Unicode strings in HTTP/1.1, see RFC 2616, Section 2.2: Basic Rules and RFC 3987." 

### How can we reproduce the problem in the simplest way?
Add a test case for e.g. NameValidator.ValidateBlobName(".."); to Test/ClassLibraryCommon/Blob/CloudBlockBlobTest.cs 
See that it is accepted - then try to create a blob with this name on a blob storage available to you. 

### Have you found a mitigation/solution?
Not trusting the validate function and needing to rely on ad-hoc validation written by myself. 
I expect the official library to check for validity properly


